@mixin header-nav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  ll-header-nav {
    color: md-color($primary, default-contrast);

    .navbar {
      background: md-color($primary);
    }
  }
}