@mixin main-selector-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  ll-main-selector {
    .docs-header-background {
      // background: md-color($primary, lighter);
    }

    .docs-header-headline {
      color: md-color($primary, default-contrast);
    }

    .docs-header-start {
      color: md-color($primary);
    }

    .docs-homepage-row {
      color: md-color($foreground, secondary-text);
    }
  }
}
